<div>
  <h1>I’m Louis Campbell</h1>
  <h2>A Software Developerbased in Luxembourg</h2>
  <p>Specialized in creating web backends <br>
    using the Microsoft .NET Stack and Angular <br>
    on the frontend.</p>
  <button>Download Resume</button>
</div>
