@import "../../colors";

:host {
  height: 100vh;
  width: 100%;
  display: block;
  box-sizing: border-box;
  background-color: $darkPurpleBg;
  padding-top: 150px;
  padding-left: 100px;
  overflow: hidden;
  section{
    background-image: url("/assets/Branch.svg");
    background-repeat: no-repeat;
    margin-top: 150px;
    padding-left: 15%;
    height: calc(100% - 150px);
    div.career {
      width: 70%;
      ul {
        list-style: none;
        margin: 0;
        color: white;
        li {
          div {
            display: flex;
            span.year {
              min-width: 10ch;
              margin-right: 100px;
              font-family: "JetBrains Mono", serif;
              font-size: 20px;
            }
            div{
              flex-direction: column;
              h3{
                font-size: 24px;
              }
              span{
                color: #828282;
                font-size: 16px;
              }
            }
          }
        }
        li:nth-of-type(2){
          margin-top: 9vh;
        }
        li:nth-of-type(3){
          margin-top: 12vh;
        }
        li:nth-of-type(4){
          margin-top: 10vh;
        }
        li:nth-of-type(5){
          margin-top: 8vh;
        }
      }
    }
  }
}
