/* You can add global styles to this file, and also import other style files */
@import url("https://use.typekit.net/sge6bhe.css");
@import url("https://dev-cats.github.io/code-snippets/JetBrainsMono.css");
@import "colors";
@import "node_modules/hamburgers/_sass/hamburgers/hamburgers";

body, html {
  margin: 0;
  padding: 0;
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  outline: none;
}

h2 {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

h3 {
  color: white;
  font-weight: normal;
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
